* {
    margin: 0;
    padding: 0;    
}

header {
    width: 100%;
    height: 120px;
    background-color: #121633;
    color: #af5216;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #121633;
    color: #ffffff;
}

h1,
h2 {
    text-align: center;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
    padding: 12px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid #121633;
    box-shadow: 12px 8px #af5216;
}